<h1 class="username"><%= @user.name %>さん</h1>

<div class="user_info_message_container">
  <div class="user_info_message_edit">アカウント</div>
</div>

<div class="user_info_wallpaper">

  <div class="user_info_contents">
    <table class="user_info_swiching">
      <tr>
        <td><%= link_to "アカウント", user_path( current_user.id ), class: 'user_info_swiching_contents1' %></td>
      </tr>
      <tr>
        <td><%= link_to "プロフィール", user_profile_path( @user.id ), class: 'user_info_swiching_contents2' %></td>
      </tr>
    </table>

    <table class="user_info_display">
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
        <tr>
          <td>
            <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>          
          </td>
        </tr>
        <tr>
          <td>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
      
            <div class="field">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="field">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>      
          </td>
        </tr>
        <tr>
          <td>
            <div class="actions">
              <%= f.submit "保存" %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="cancel_account">
    <h3>アカウント削除</h3>

    <div>削除 <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

  </div>

  

</div>
