<div class="cansel_show">
    <%= link_to '←戻る', :back , class: "back_button"%>
</div>

<div class="room_show_wallpaper">

    <div class="room_image_container">
        <% if @room.room_image.present? %>
            <div class="room_image"><img src=<%= @room.room_image %> class = "room_image_display"></div>
        <% else %>
            <div class="room_image"><%= image_tag '/default_room_image.png' %></div>
        <% end %>
    </div>
    <div class="room_show_info">
        <div class="room_show_NamePrice">
            <div class="room_name"><%= @room.room_name %></div>
        </div>
        <div class="room_price">¥<%= @room.room_price %>〜</div>
        <div class="room_address"><%= @room.room_address %></div>
        <div class="room_evaluation"><%= "⭐️⭐️⭐️⭐️⭐️" %></div>
        <div class="room_info"><%= @room.room_info %></div>
        <div class="room_reserve">

            
            <%= form_with model: [@room , @reservation] do |f| %>
                <div class="field">
                    <%= f.label :start_day , "チェックイン" %><br/>
                    <%= f.date_field :start_day %>
                </div>
                <div class="field">
                    <%= f.label :last_day , "チェックアウト" %><br/>
                    <%= f.date_field :last_day %>
                </div>
                <div class="field">
                    <%= f.label :number_of_people , "予約人数" %><br/>
                    <%= f.number_field :number_of_people , min: 1 %>
                </div>
                <div class="room_reserve_submit_show">
                    <%= f.submit "予約する"%>
                </div>
            <% end %>

        </div>
    </div>

</div>