<div class="cansel_show">
    <%= link_to '←戻る', :back , class: "back_button"%>
</div>

<div class="room_show_wallpaper">

    <div class="room_image_container">
        <% if @room.room_image.present? %>
            <div class="room_image"><img src=<%= @room.room_image %> class = "room_image_display"></div>
        <% else %>
            <div class="room_image"><%= image_tag '/default_room_image.png' %></div>
        <% end %>
    </div>
    <div class="room_show_info">
        <div class="room_show_NamePrice">
            <div class="room_name"><%= @room.room_name %></div>
        </div>
        <div class="room_price">¥<%= @room.room_price %>〜</div>
        <div class="room_address"><%= @room.room_address %></div>
        <div class="room_evaluation"><%= "⭐️⭐️⭐️⭐️⭐️" %></div>
        <div class="room_info"><%= @room.room_info %></div>
        <div class="room_reserve">
            <div class="start_day"><input type="date" name="example"></div>
            <div class="end_day"><input type="date" name="example"></div>
            <div class="number_of_people"><input type="date" name="example"></div>
        </div>
        <button class="room_reserve_submit">予約する</button>
    </div>

</div>
