<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
     <div class="header_message"><%= link_to "EZshare", root_path ,class: 'header_link' %></div>
     <div class="sign_in_option">
      <% if user_signed_in? %>
          <button class="options">
            <%= link_to "ログアウト", destroy_user_session_path, class: 'options_element', method: :delete %>
          </button>
          <img src=<%= current_user.image %> class = "icon_image_header">
          <select class="options" onChange="location.href=value;" >
            <option value='#'><%= current_user.name %></option>
            <option value='<%= "/users/#{ current_user.id }" %>'>マイページ</option>
            <option value='<%= "/users/#{ current_user.id }" %>'>@@@</option>
          </select>
        <% else %>
          <button class="options">
            <%= link_to "サインアップ",new_user_registration_path ,class: 'options_element' %>
          </button>
          <button class="options">
            <%= link_to "ログイン", new_user_session_path, class: 'options_element' %>
          </button>
        <% end %>
      </div>
    </div>

    <%= yield %>

    <div class="footer">
     <div class="footer_message">EZshare</div>
     <div class="footer_message_br">shimotsuji-yuta</div>
    </div>

  </body>
</html>
